repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-illegal-windows-names
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
        files: \.(yaml|yml)$
      - id: end-of-file-fixer
      - id: mixed-line-ending

  # C/C++
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        args: [-i]
      - id: clang-tidy
        args: [--fix, --fix-errors, --fix-notes, -p=cpp/out/build]
